python-decouple==3.8
python-multipart==0.0.6 
python-dotenv
fastapi==0.92.0
"uvicorn[standard]"
selectolax
requests==2.28.2
tweepy
langchain
openai
chromadb
playwright
python-dotenv
google-search-results
pygame
scikit-learn
youtube-search
pytest