@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
@layer utilities {
  .animation-delay-5s {
    animation-delay: 5s;
  }
  .animation-delay-8s {
    animation-delay: 8s;
  }
  .animation-delay-11s {
    animation-delay: 11s;
  }
}

/* @layer base {
  :root {
    --color-bkg: 210deg 40% 98%;
    --color-content: 217deg 32.6% 17.5%;
    --color-accent1: 288deg 95.8% 90.6%;
    --color-accent2: 168deg 83.8% 78.2%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg: 217deg 32.6% 17.5%;
      --color-content: 210deg 40% 98%;
      --color-accent1: 288deg 95.8% 90.6%;
      --color-accent2: 168deg 83.8% 78.2%;
    }
  }
  
} */


/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE and Edge */
}

.blurred-edges {
  box-shadow: 0 0 25px 15px rgba(136, 11, 146, 0.20);
}


@keyframes pulseScale {
  0%, 100% {
    transform: scale(1);
    opacity: .5;
  }
  50% {
    transform: scale(1.25);
   
  }
}



@keyframes Blob {
  0%{
    transform: translate(0px, 0px) scale(1);
  }
  25%{
    transform: translate(10px, -30px) scale(1.05);
  }
  50% {
    transform: translate(0px, -25px) scale(0.95);
  }
  75% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}


@keyframes BlobPink {
  0%{
    transform: translate(0px, 0px) scale(1);
  }
  25%{
    transform: translate(38px, -30px) scale(1.05);
  }
  50% {
    transform: translate(50px, -25px) scale(0.95);
  }
  75% {
    transform: translate(23px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}